<% wrap_layout :layout do %>

    <article>

        <h1><%= current_page.data.title %></h1>

        <time datetime="<%= current_page.date.strftime('%F') %>">
            <%= current_page.date.strftime('%b %e %Y') %>
        </time>

        <%= yield %>

    </article>

<% end %>
